:root {
  --main-title-color: #212121;
  --current-white-color: #ffffff;
  --first-text-color: #757575;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --hero-button-accent-color: #188ce8;
  --logo-color: #000000;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --networks-inactive: #afb1b8;
  --networks-inactive-footer: rgba(255, 255, 255, 0.1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--first-text-color);
  background-color: var(--current-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

/* -------------------------------- Header---------------------------- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--line-color);
}

.header-list {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child),
.header-contact-info-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-info {
  display: flex;
  margin-left: auto;
}

.header-contact-info-link {
  padding: 32px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-header,
.logo-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-studio-header {
  color: var(--logo-color);
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-contact-info-link:hover,
.header-link:focus,
.header-contact-info-link:focus {
  color: var(--accent-color);
}

.mail-phone-info:hover,
.mail-phone-info:focus,
.envelope:hover,
.envelope:focus {
  color: var(--accent-color);
}

.header-contact-info-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.envelope,
.smartphone {
  margin-right: 10px;

  fill: currentColor;
}

/* ---------------------------- Hero ----------------------------- */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  border: 1px solid transparent;
  background-color: var(--second-bg-color);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--current-white-color);

  width: 696px;
  padding: 280 452;
  margin: 0 auto 30px;
}

.hero-button {
  cursor: pointer;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--current-white-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: 0px;

  min-width: 200px;
  height: 50px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-accent-color);
}

/* ------------------------------- Special Qualities--------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.special-qualities-list {
  display: flex;
}

.special-qualities-item {
  margin-right: 30px;
  width: 270px;
}

.special-qualities-item:last-child {
  margin-right: 0px;
}

.special-qualities-area {
  display: flex;
  width: 100%;
  min-height: 120px;
  background-color: var(--third-bg-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.satellite,
.clock,
.diagram,
.astronaut {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
}

.special-qualities-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
  text-align: left;
}

.special-qualities-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-align: left;
}

/*----------------------------- What We Do ----------------------------- */

.what-we-do {
  padding-top: 0;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-header,
.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

/* ------------------------------Our Team Section ------------------------- */

.our-team {
  background-color: var(--third-bg-color);
}

.our-team-header {
  text-align: center;
}

.our-team-list {
  display: flex;
  text-align: center;
}

.our-team-item {
  background-color: var(--current-white-color);
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin: 0 0 10px 0;
}

.our-team-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.our-team-data {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social,
.social-footer {
  display: flex;
  justify-content: center;
}

.networks {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 32px;
  padding-right: 32px;
  list-style: none;
}

.networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--networks-inactive);
  background: rgba(255, 255, 255, 0.1);
}

.networks-link:hover,
.networks-link:focus {
  color: var(--current-white-color);
  background-color: var(--accent-color);
}

.networks-icon {
  fill: currentColor;
}
.social > .networks-item:not(:last-child) {
  margin-right: 10px;
}

/* ------------------------------------Regular Clients-----------------------*/

.regular-clients-header {
  margin: 0 0 50px 0;
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.regular-clients {
  display: flex;
  justify-content: center;
}

.regular-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--networks-inactive);
  border-radius: 4px;
  color: var(--networks-inactive);
}

.regular-clients-link:hover,
.regular-clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.regular-clients > .regular-clients-item:not(:last-child) {
  margin-right: 30px;
}

.regular-clients-icon {
  fill: currentColor;
}

/* ----------------------------------- Footer------------------------------- */

.footer {
  background-color: var(--second-bg-color);
  padding: 60px 0;
}

.footer-info {
  margin-right: 70px;
}

.container > .logo-header.link {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
}

.logo-studio-footer {
  color: var(--current-white-color);
  padding-top: 0px;
}

.address-info {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--current-white-color);

  margin-bottom: 9px;
}

.footer-list {
  display: block;
}

.mail-phone-info {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

/* .footer-link:first-child {
  margin-bottom: 9px;
} */

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  padding: 0px;
  margin: 0 0 20px 0;
}

.footer-social > .footer-social-header {
  margin-bottom: 20px;
  color: var(--current-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-header {
  margin: auto;
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--current-white-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.social-footer > .networks-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social .networks-link {
  color: var(--current-white-color);
}

/*  -*-*-*-*-*-*-*-*-*-*-*-*-*- Portfolio Page -*-*-*-*-*-*-*-*-*-*-*-*-*-   */

.filter-button {
  cursor: pointer;
  min-width: 73px;
  padding: 6px 22px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--third-bg-color);
  border: 0;
  border-radius: 4px;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus,
.active {
  color: var(--current-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------------------------- Cards ---------------------------------*/

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  text-align: -webkit-match-parent;
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 8px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards-item .card-data {
  border: 1px solid var(--border-color);
  border-top: 0;
  padding: 20px 24px;
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards-link {
  display: block;
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-data {
  padding: 20px 24px;
  text-align: left;
}

.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.cards-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
